<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.js}" type="text/javascript"></script>
</head>
<body>
<nav th:replace="layout::menu"></nav>
    <div class="container">
        <h2>Validar Año Bisiesto</h2>
        <form th:action="@{/validarBisiesto}" th:object="${bisiestoModel}" method="post">
            <div class="mb-3">
                <label for="year" class="form-label">Año:</label>
                <input type="number" class="form-control" id="year" th:field="*{year}" required/>
            </div>
            <button type="submit" class="btn btn-primary">Validar</button>
        </form>

        <div th:if="${bisiestoModel.year != null}" class="mt-4">
            <h3>Resultado</h3>
            <div th:if="${bisiestoModel.esBisiesto}" class="alert alert-success" role="alert">
                <p th:text="${bisiestoModel.year} + ' es año bisiesto.'"></p>
            </div>
            <div th:if="${not bisiestoModel.esBisiesto}" class="alert alert-danger" role="alert">
                <p th:text="${bisiestoModel.year} + ' no es año bisiesto.'"></p>
            </div>
        </div>
    </div>
</body>
</html>