<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.js}" type="text/javascript"></script>
</head>
<body>
    <nav th:replace="layout::menu"></nav>
    <div class="container">
        <h2>Calcular Numero Perfecto</h2>
        <form th:action="@{/calcularNumero}" th:object="${numeroModel}" method="post">
            <div class="mb-3">
                <label for="limite" class="form-label">Limite : </label>
                <input type="number" class="form-control" id="limite" th:field="*{numero}" required/>
            </div>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </form>

        <div th:if="${numeroModel.resultado != null}" class="mt-4">
            <h3>Resultado</h3>
            <p th:text="${numeroModel.resultado}"></p>
        </div>
    </div>
</body>
</html>